<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.bskl_kotlin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>
    <application
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/CustomActionBarTheme"
        tools:ignore="GoogleAppIndexingWarning"
        android:requestLegacyExternalStorage="true"
        tools:replace="android:allowBackup,android:icon, android:label, android:theme">
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAixzbHoPqIadZKzIMQuZXU_hBR6LAJths" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <activity
            android:name="com.example.bskl_kotlin.activity.splash.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.bskl_kotlin.activity.login.LoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.example.bskl_kotlin.activity.home.HomeActivity"
            android:label="@string/title_activity_home"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme" />
        <activity
            android:name="com.example.bskl_kotlin.activity.notification.NotificationInfoActivity"
            android:label="@string/title_activity_home"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme" />
        <activity
            android:name="com.example.bskl_kotlin.activity.calendar.CalendarInfoActivity"
            android:label="@string/title_activity_home"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme" />
        <activity
            android:name="com.example.bskl_kotlin.activity.attendance.AttendanceInfoActivity"
            android:label="@string/title_activity_home"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme" />
        <activity
            android:name="com.example.bskl_kotlin.activity.web_view.LoadWebViewActivity"
            android:label="@string/title_activity_home"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme" />
        <activity
            android:name="com.example.bskl_kotlin.activity.data_collection.DataCollectionHome"
            android:label="@string/title_activity_home"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme" />
    <service
        android:name="com.example.bskl_kotlin.fcmservices.MyFirebaseInstanceIDService"
        android:enabled="true"
        android:exported="true"
        tools:ignore="Instantiatable">
        <intent-filter>
            <action android:name="com.google.firebase.MESSAGING_EVENT" />
        </intent-filter>
    </service>
    <service android:name="com.example.bskl_kotlin.fcmservices.MyFirebaseMessagingService"
        android:exported="false">
        <intent-filter>
            <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
        </intent-filter>
    </service>

    </application>
</manifest>